<p id="notice"><%= notice %></p>

<h1>Listing Booking Activities</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Number guests</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @booking_activities.each do |booking_activity| %>
      <tr>
        <td><%= booking_activity.status %></td>
        <td><%= booking_activity.number_guests %></td>
        <td><%= booking_activity.start_date %></td>
        <td><%= booking_activity.end_date %></td>
        <td><%= link_to 'Show', booking_activity %></td>
        <td><%= link_to 'Edit', edit_booking_activity_path(booking_activity) %></td>
        <td><%= link_to 'Destroy', booking_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking activity', new_booking_activity_path %>
