<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @booking_activity.status %>
</p>

<p>
  <strong>Number guests:</strong>
  <%= @booking_activity.number_guests %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @booking_activity.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @booking_activity.end_date %>
</p>

<%= link_to 'Edit', edit_booking_activity_path(@booking_activity) %> |
<%= link_to 'Back', booking_activities_path %>
