
<div id='first'>
<div id='cover'></div>
<div class='welcome centered' id="click">
New Horizons
<div id='faded'>Live each day under a different sun<br>
</div>
<div id='faded2'>
<span id="imagechange"><%= image_tag("downarrow.png", id: "imagechange", height: "40px") %></span>
<%= image_tag("sunny.png", id: "sun", height: "40px") %>
</div>
</div>

</div>

<div id='second'>
<div class='breakblue'>
</div>
<div id='newcontainer'><br>
    <%= image_tag("worldmap2.jpg", id: "mapmono", width: "0", height: "0", alt: "World Map") %>
        <div id='searchbar'>
                <form class="searcher" name="maplocator" autocomplete="off">
                        Search a City or Country<br>
                        <input id='mapper' type="text" name = "place" size="65" onkeydown="handle(event)">
                </form>
        <div id='scon'>
        <div id='searchpop'></div>
        </div>
	</div>
<br><br>
        <div id='leftside'>
                <br/><br/>
                <div id='pname'>Choose a city</div><br><br>
                <div id='pimage'><%= image_tag("default0.jpg", width: "75%") %></div><br><br>
                <div id='pdesc'>Hover over any red dot on the map, or type the name of a city in the search bar. The world is your oyster. </div><br><br>
<% if logged_in? %>
<%= render 'form', booking: @booking %>
<% else %>
<div id='messagelogin'>Only Logged In Users Can Use The Map<br>And Progress Further<br><%= link_to 'Click here to login', login_path %></div>
<!--                <div id='plink'><div id='my-background'>Next</div></div> -->
<% end %>
        </div>
        <div id='can'>
                <canvas id="myCanvas" width="1000" height="600"></canvas>
        </div>

        <div id='clear'>
        </div>

     </div>
<br><center>
<%= image_tag("downarrowdarker.png", class: "clickable", height: "40px", onclick: "scrollfurther()") %>
<br>
</div>
</div>
<div class='breakorange'>
</div>
<div id='third'>
<br>
<center>
<%= image_tag("uparrowdarker.png", class: "clickable", height: "40px", onclick: "scrollback()") %>
</center>
<br><br>
<span class='guidehead'>Travel Guides</span>

<div class='line'></div>

  <% @destinations.each do |destination| %>
  <%= image_tag(destination.picture.split('|')[1], id: destination.name.downcase[0,3], width: "0", height: "0") %>
  <% end %>

<div class='slidercontainer'>
<<<<<<< HEAD
<div onclick='slideover()' class='leftarrow'><br><img class="clickable" src='/img/arrowleft.jpg' width="40px"></div>
=======
<div onclick='slideover()' class='leftarrow'><br><%= image_tag("arrowleft.jpg", class: "clickable", width: "40px") %></div>
>>>>>>> 214414fb433be37fe7d7b810850fec90c132e0c0
<canvas id="mySlider" width="750" height="300">
</canvas>
<div onclick='slideback()' class='rightarrow'><br><%= image_tag("arrowright.jpg", class: "clickable", width: "40px") %></div>
</div>
<br>
<div class='line'></div>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<div id='sliderpop' onclick='hideslider()'></div>
<div id='sliderdarken' onclick='hideslider()'></div>

<!--<script>alert("<%= current_dest %>");</script>-->
<%= javascript_include_tag "landing" %>
<p id="notice"><%= notice %></p>

<div id='experiment'>

    <% @destinations.each do |destination| %>
    <% fixedname=destination.name.gsub!(/\s/,'_') %>
        <div class='hidden' id='<%= destination.name %>'><%= fixedname %></div>
        <div class='hidden' id='<%= destination.name %>d'><%= destination.description.html_safe %></div>
        <div class='hidden' id='<%= destination.name %>i'><%= destination.picture %></div>

    <% end %>

</div>

