<% content_for :css do %>
    <%= stylesheet_link_tag "/css/accommodation.css" %>
<% end %>

<div id="slider">
  <div id="container">
    <div class="container-overlay">
      <h2>Accommodation</h2>
    </div>
    <div class="slide-div" id="item-1">
      <p>Experience something <span id="greentext">new</span></p>
    </div>
    <div class="slide-div green" id="item-2">
      <p>“The core of mans' spirit comes from new <span id="orangetext">experiences</span>.”
        <br>― Christopher McCandless </p>
    </div>
  </div>
  <div id="slider-controls">
    <ol>
      <li id="slide-1" class="fa fa-dot-circle-o"></li>
      <li id="slide-2" class="fa fa-circle-o"></li>
    </ol>
  </div>
</div>
<%= render :partial => "bookings/greybox" -%>
<!-- Render form -->

<div id="activity-heading">
  <h2>We found <span id="activity-num"><%=@accommodations.size %></span> accommodations in <span id="location-activities"><%= @destination %></span> </h2>
</div>
<div id="activity-refine">
  <label for="sortby">Sort results</label>
  <select name="sortby" id="sort" onchange="updateAccommodation()">
    <option value="asc"> Price (ASC)</option>
    <option value="desc">Price (DESC)</option>
  </select>
</div>

<div id="activity-container">
  <% @accommodations.each do |accommodation| %>

      <%= form_for @booking, remote: true do |f| %>
          <div class="sub-activity-box">
            <div class="sub-img-activity">
              <%= image_tag(accommodation.picture, class: "sub-activity-img")%>
            </div>
            <div class="sub-activity-title">
              <span class="activity-text" ><%= accommodation.name %></span>
            </div>
            <div class="sub-activity-description">
              <p><%= accommodation.description %></p>
            </div>
            <div class="sub-activity-price-book">
              <span class="fa fa-eur"><%= accommodation.price%></span>
            </div>
            <%= f.hidden_field :accommodation_id, value: accommodation.id %>
            <%= f.submit "Add to Cart", class: "book-activity" %>
          </div>
      <% end %>


  <% end %>

</div>


<% content_for :javascript do %>
    <%= javascript_include_tag "/js/accommodation.js" %>
<% end %>
