<div id="breadcrumb-container">
  <ul id="breadcrumb-list">
    <li class="breadcrumb"><%= link_to "Home", landing_path, class: "breadcrumb-link" %><span>&gt;&gt;</span></li>
    <li class="breadcrumb"><%= link_to "Activities", activities_path, class: "breadcrumb-link" %><span>&gt;&gt;</span></li>
    <li class="breadcrumb"><%= link_to "Accommodation", accommodations_path, class: "breadcrumb-link-current" %><span>&gt;&gt;</span></li>
  </ul>
</div>

<% content_for :css do %>
    <%= stylesheet_link_tag "/css/accommodation.css" %>
<% end %>

<div id="slider">
  <div id="container">
    <div class="container-overlay">
      <h2>Accommodation</h2>
    </div>
    <div class="slide-div" id="item-1">
      <p>Experience something <span id="greentext">new</span></p>
    </div>
    <div class="slide-div green" id="item-2">
      <p>“The core of mans' spirit comes from new <span id="orangetext">experiences</span>.”
        <br>― Christopher McCandless </p>
    </div>
  </div>
  <div id="slider-controls">
    <ol>
      <li id="slide-1" class="fa fa-dot-circle-o"></li>
      <li id="slide-2" class="fa fa-circle-o"></li>
    </ol>
  </div>
</div>
<%= render :partial => "bookings/greybox" -%>
<!-- Render form -->

<div id="activity-heading">
  <h2>We found <span id="activity-num"><%=@accommodations.size %></span> accommodations in <span id="location-activities"><%= @destination.name %></span> </h2>
</div>
<div id="activity-refine">
  <label for="sortby">Sort results</label>
  <select name="sortby" id="sort" onchange="updateAccommodation()">
    <option value="asc"> Price (ASC)</option>
    <option value="desc">Price (DESC)</option>
  </select>
</div>

<div id="activity-container">
  <%= render  :partial => "accommodation_boxes", :locals => { :sort => @sort } %>
</div>
<div id="reciept-border">
  <%= render :partial => "bookings/receipt"%>
</div>

<div id="skip-button">
  <!-- http://api.rubyonrails.org/classes/ActionView/Helpers/UrlHelper.html#method-i-link_to -->
  <%= link_to("Next", controller: "store", action:"index", class:"next-button") %>
</div>

<% content_for :javascript do %>
    <script>
      function updateAccommodation(){
          var selected = $('#sort option:selected').val();
          $('#activity-container').html('');
          if(selected=="asc")
          {
              $('#activity-container').load('/accommodations/accommodation_boxes?sort=asc&dest=<%=@destination.id %>&booking=<%= @booking.id%>');
          }
          else{
              $('#activity-container').load('/accommodations/accommodation_boxes?sort=desc&dest=<%=@destination.id %>&booking=<%= @booking.id%>');
          }
      }
    </script>
<% end %>
