<div id='first'>
<br><br><br>
  <div id='showusers'>

<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Firstname</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Avatar</th>
      <th>Country</th>
      <% if logged_in? && current_user.is_admin %>
      <th>Is admin</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <% if (logged_in? && current_user.is_admin) %>
          <td><%= user.username %></td>
          <td><%= user.firstname %></td>
          <td><%= user.surname %></td>
          <td><%= user.email %></td>
          <td><%= image_tag user.avatar.url,size:"30" if user.avatar? %></td>
          <td><%= user.country %></td>
          <td><%= user.is_admin %></td>
          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% elsif (logged_in? && current_user.username == user.username) %>
          <td><%= user.username %></td>
          <td><%= user.firstname %></td>
          <td><%= user.surname %></td>
          <td><%= user.email %></td>
          <td><%= image_tag user.avatar.url,size:"30" if user.avatar? %></td>
          <td><%= user.country %></td>
          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Delete Account', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td><%= user.username %></td>
          <td></td><td></td><td></td>
          <td><%= image_tag user.avatar.url,size:"30" if user.avatar? %></td>
          <td><%= user.country %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
    
  </div>
</div>