<div id='first'>
  <br>
  <div id='showusers'>

    <% provide(:title, @user.username) %>
    <h1>
    <%= gravatar_for @user %>
    <%= @user.username %>
    </h1>
<hr>
<p id="notice"><%= notice %></p>
<div class='indented'>
<p>

  <strong>Firstname:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @user.surname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @user.avatar %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.country %>
</p>
<% if (logged_in? && current_user.is_admin) %>
<p>
  <strong>Is admin:</strong>
  <%= @user.is_admin %>
</p>
<% end %>
</div>
<hr>
 <% if (logged_in? && current_user.is_admin) || (logged_in? && current_user.username == @user.username) %>
<%= link_to 'Edit', edit_user_path(@user) %> 
<% end %>
<%= link_to 'Back', users_path %>
</div>
</div>