<div class="storeitem">
  <img class="itemphoto" src="<%= product.picture %>" alt="<%= product.name %>"/>
      <h4><%= product.name %></h4>
      
      <%= form_for basket_item, remote: true do |f| %>
        <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency basket_item.unit_price %></span></h4>
            <%= f.number_field :quantity, value: basket_item.quantity.to_i, class: "form-control", min: 1 %>
            <%= f.hidden_field :product_id, value: product.id %>

              <%= f.submit "Update Quantity", class: "btn btn-primary" %>
              <%= link_to "Delete", basket_item, { data: { confirm: "Are you sure you wish to delete the product '#{basket_item.product.name}' from your cart?" }, method: :delete, remote: true, class: "basket_btn_delete" } %>

        <h4 class="text-right">Total Price: <span style="color: green"><%= number_to_currency basket_item.total_price %></span></h4>
      <% end %>

    
  </div>
