<div id="breadcrumb-container">
	<ul id="breadcrumb-list">
	  <li class="breadcrumb"><%= link_to "Home", landing_path, class: "breadcrumb-link" %><span>&gt;&gt;</span></li>
    <li class="breadcrumb"><%= link_to "Activities",{ :controller => :activity_categories, :action => :list }, {class: "breadcrumb-link"} %><span>&gt;&gt;</span></li>
    <li class="breadcrumb"><%= link_to "Accommodation",{ :controller => :accommodations, :action => :list },{class: "breadcrumb-link"} %><span>&gt;&gt;</span></li>
	  <li class="breadcrumb"><%= link_to "Store", '/store', class: "breadcrumb-link-current" %></li>
	</ul>
</div>

<div id='first'>
  <br>
	<div id="shoppingcartbox">
		<h1>Your Holiday </h1>
  		<div id="reciept-border" style="color:black">
		    <%= render :partial => "bookings/receipt"%>
		</div>
		<br>
		<br>
		<hr>
		<br>
		<%= render "shopping_cart" %>
		<br>
		<br>
		<hr>
		<br>
	    <div id="checkout">
	    	<h2> Total Cost - Holiday + Basket Items: <%= number_to_currency (@order.subtotal + total_price) %> </h2>
	    	<% if logged_in? %>
	    		<h1><%= link_to(">> Checkout <<", controller: "carts", action:"checkout", :class=>"chekout-button") %></h1>
			<% else %>
				You must be logged in to checkout. Please <%= link_to "login", '/login'%> or <%= link_to "sign up", '/signup'%>.
			<% end %>
	      	
	    </div>
	</div>

</div>



