<div id="breadcrumb-container">
  <ul id="breadcrumb-list">
    <li class="breadcrumb"><%= link_to "Home", landing_path, class: "breadcrumb-link" %><span>&gt;&gt;</span></li>
    <li class="breadcrumb"><%= link_to "Activities",{ :controller => :activity_categories, :action => :list }, {class: "breadcrumb-link-current"} %><span>&gt;&gt;</span></li>
  </ul>
</div>

<div id="slider">
  <div id="container">
    <div class="container-overlay">
      <h2>Activities</h2>
    </div>
    <div class="slide-div" id="item-1">
      <p>Experience something <span id="greentext">new</span></p>
    </div>
    <div class="slide-div green" id="item-2">
      <p>“The core of mans' spirit comes from new <span id="orangetext">experiences</span>.”
        <br>― Christopher McCandless </p>
    </div>
  </div>
  <div id="slider-controls">
    <ol>
      <li id="slide-1" class="fa fa-dot-circle-o"></li>
      <li id="slide-2" class="fa fa-circle-o"></li>
    </ol>
  </div>
</div>
<%= render :partial => "bookings/greybox"%>
<div id="activity-heading">
  <h2>We found <span id="activity-num"><%= @activities.size %></span> <span id="activity-type"><%= @category.name %></span> activities in <span id="location-activities"><%= @dest %></span> </h2>
</div>
<div id="activity-refine">
  <label for="sortby">Sort results</label>
  <select name="sortby" id="sort" onchange="updateActivities()">
    <option value="asc"> Price (ASC)</option>
    <option value="desc">Price (DESC)</option>
  </select>
</div>
<div id="activity-container">
  <!-- http://stackoverflow.com/questions/9827663/rails-3-render-partial-with-params -->
  <%= render  :partial => "activities/activity_boxes", :locals => { :sort => @sort } %>
</div>
<div id="reciept-border">
<%= render :partial => "bookings/receipt"%>
</div>

<div id="skip-button">
  <!-- http://api.rubyonrails.org/classes/ActionView/Helpers/UrlHelper.html#method-i-link_to -->
  <%= link_to("Next", controller: "accommodations", action:"list", class:"next-button") %>
</div>


<% content_for :javascript do %>

    <!-- rendering partial with parameters from; https://coderwall.com/p/kqb3xq/rails-4-how-to-partials-ajax-dead-easy -->
    <script>
      function updateActivities(){
          var selected = $('#sort option:selected').val();
          $("#activity-container").html('');
          if(selected =="asc"){
              $("#activity-container").load('/activities/activity_boxes?sortby=asc&cat_id=<%= @category.id %>');
          }
          else{
              $("#activity-container").load('/activities/activity_boxes?sortby=desc&cat_id=<%=@category.id %>');
          }

      }
    </script>

<% end %>

