<div id="mainarea">
		<br><p id="notice"><%= notice %></p>
	<div id="store">
		<div id="storetop">
			<%= form_tag(:action => :index) do %>
			  <%= select_tag "product_category", options_for_select(@product_categories.collect{ |c| [c.name, c.id] }) %>
			  <%= submit_tag "Filter" %>
			<% end %>
		</div>
	    <% @products.each do |product| %>
	      <%= render "product_row", product: product, basket_item: @basket_item %>
	    <% end %>
	</div>

	<div id="rightside">
	<br/><br/>
		<div id="orderheading">Shop Basket</div><br><br>
			<br>
			  <% if @basket_items.size == 0 %>
				  <p class="text-center">
				    There are no items in your basket.
				  </p>
				<% else %>
				  <% @basket_items.each do |basket_item| %>
				    <%= render 'basket_row', product: basket_item.product, basket_item: basket_item, show_total: true %>
				  <% end %>
				<% end %>
			<input type="button" value="Empty Cart" id="emptycart"/>
			</td>
		</div>
	</div>
